{
  "presets": [
    ["env",{
      "modules": false,
      "target": ["> 1%","latest 2 versions", "not ie <= 8"]
    }],
    "stage-0"
  ],
  "plugins": ["transform-vue-jsx","transform-runtime"],
  "comments": false,
  "env": {
    "presets": ["env","stage-0"],
    "plugins": ["transform-vue-jsx"]
  }
}
